:root {
  box-sizing: border-box;
  color: white;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.search {
  width: 100%;
  min-width: 300px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
}

.search-input {
  width: 100%;
  border: none;
  color: white;
  background-color: black;

  &:focus-visible {
    outline: none;
  }
}

.search-icon {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.search-icon svg {
  height: 20px;
  color: white;
}

.daily-condition img,
.hourly-condition img,
.condition-icon img {
  height: 90px;
}

.current-weather-wrapper {
  display: flex;
  gap: 20px;
}

.current-weather {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-location {
  font-size: 1.5rem;
}

.temp-condition-wrapper {
  display: flex;
  align-items: center;
}

.temp {
  font-size: 5rem;
}

.condition-text {
  font-size: 1.3rem;
}

.current-details {
  border: 1px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
