$darkgray: #4e4e4e;

:root {
  box-sizing: border-box;
  color: white;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.search {
  background-color: $darkgray;
  width: 100%;
  min-width: 300px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
}

.search-input {
  width: 100%;
  border: none;
  color: white;
  background-color: $darkgray;

  &:focus-visible {
    outline: none;
  }
}

.search-icon {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.search-icon svg {
  height: 20px;
  color: white;
}

.condition-icon img {
  height: 90px;
}

.current-weather-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.current-weather {
  background-color: $darkgray;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-location {
  font-size: 1.5rem;
}

.temp-condition-wrapper {
  display: flex;
  align-items: center;
}

.temp {
  font-size: 5rem;
}

.condition-text {
  font-size: 1.3rem;
}

.current-details {
  background-color: $darkgray;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-wrapper {
  min-width: 300px;
}

.forecast {
  max-width: 800px;
}

.hourly-forecast {
  background-color: $darkgray;
  overflow: scroll;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.hourly-time,
.hourly-temp,
.daily-date,
.daily-min-max-temp {
  text-align: center;
}

.daily-condition img,
.hourly-condition img {
  height: 64px;
}

.daily-forecast {
  background-color: $darkgray;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.daily-min {
  color: lightskyblue;
}

.daily-max {
  color: red;
}
